    <div class="container container--header">
        <div class="header_top">
            <div class="header_logo">MoGo</div>
            <div class="nav_top">
                <div class="menu_nav" id="nav">
                    <a class="nav_item" href="#" data-scroll="#about">About</a>
                    <a class="nav_item" href="#" data-scroll="#service">Service</a>
                    <a class="nav_item" href="#" data-scroll="#work">Work</a>
                    <a class="nav_item" href="#" data-scroll="#blog">Blog</a>
                    <a class="nav_item" href="#" data-scroll="#contact">Contact</a>
                    <a class="nav_item" href="#" target="_blank"><i class="fas fa-shopping-cart"></i></a>
                    <a class="nav_item" href="#" target="_blank"><i class="fas fa-search"></i></a>
                </div>
            </div>
            <div class="nav-toggle" id="nav_toogle">
                <span class="nav-toggle_item">Menu</span>
            </div>
        </div>
    </div>